!!! 5
%html{ :lang => "es" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "cor.to"
    %meta{ :content => content_for?(:description) ? yield(:description) : "cor.to", :name => "Tu acortador de enlaces favorito"}

    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag params[:controller]

    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '//www.google.com/jsapi', 'chartkick', 'data-turbolinks-track' => true

    = csrf_meta_tags
    = yield(:head)
  %body
    #container
      = render 'layouts/header'
      #main{:role => "main"}
        = yield
      #container-footer
    =render 'layouts/footer'
    :javascript
      $(document).foundation();
